RewriteEngine On
RewriteCond %{HTTP_HOST}   roomballot.fitzjcr.com$
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://roomballot.fitzjcr.com/$1 [L,NC,R=301]

php_value memory_limit 4G
php_value allow_url_fopen On

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^houses/(.*)$ index.php?q=houses&url=$1 [L,QSA]
RewriteRule ^rooms/(.*)$ index.php?q=rooms&url=$1 [L,QSA]
RewriteRule ^([^/]*)$ index.php?q=$1 [L,QSA]

AuthType Ucam-WebAuth

AuthGroupFile /home/societies/fitzjcr/AuthGroups
AACookieKey "verylongrandomstring"

Require valid-user
AADescription "Fitz JCR Group Balloting System"
